[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/rauppath
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/rauppath
	label-Verified = -1..+1 group user/rauppath
	push = group user/rauppath
	read = group user/rauppath
	rebase = group user/rauppath
	removeReviewer = group user/rauppath
	submit = group user/rauppath
[access "refs/heads/*"]
	create = group user/rauppath
	push = +force group user/rauppath
	pushMerge = group user/rauppath
	read = group user/rauppath
[access "refs/tags/*"]
	push = group user/rauppath
	push = +force group user/rauppath
